h1{
    color: rgb(255, 0, 0);
    background-color: black;
    text-align: center;
}
p{
    text-align: justify;
    text-transform: capitalize;
    line-height: 1.5;
    font-family:'EB Garamond', serif;

}